@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    height: 100%;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
.title{
    width: 100%;
    text-align: center;
}

.container{
    display: grid;
    width: 640px;
    height: 640px;
    gap:0;
    box-shadow:  5px 10px #888888;
}

.div{
    border: 0.1px solid rgb(0, 0, 0);
    filter: brightness(100%);
}

.color{
    background-color: rgba(0, 0, 0, 0.792);
}

.maingrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.othercontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smalltitle{
    text-align: center;
    font-size: large;
    margin-bottom: 10px;
}
.size{
    margin: auto;
    width:200px;
    font-size: large;
    border-color: black;
    padding:5px;
    border-radius: .5rem;
    box-shadow: none;
}
.message{
    height: 19px;
    text-align: center;
}
.inputholder{
    display:flex;
    flex-direction: column;
    padding:20px 200px 0px 200px;
}
.buttonholder{
    display: flex;
    flex-direction: column;
}
button{
    margin:15px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    width: 150px;
    height: 75px;
    border-radius: .5rem;
    border-style: none;
    box-shadow:  2px 4px #888888;
}