@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    height: 100%;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
h1{
    width: 100%;
    text-align: center;
}

.container{
    display: grid;
    width: 640px;
    height: 640px;
    gap:0;
}

.div{
    border: 0.1px solid rgb(0, 0, 0);
    filter: brightness(100%);
}

.color{
    background-color: rgba(0, 0, 0, 0.792);
}

.maingrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.message{
    visibility: hidden;
}

.inputholder{

}